<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="author" content="iThemesLab">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../assets/img/favicon-icon.png">
    <link rel="apple-touch-icon" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">


    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/vendor/rev-slider/settings.css">
    <link rel="stylesheet" href="assets/css/vendor/rev-slider/navigation.css">

    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">

    <link rel="stylesheet" href="assets/css/vendor/flaticon.css">

    <link rel="stylesheet" href="assets/css/vendor/owl.carousel.min.css">

    <link rel="stylesheet" href="assets/css/vendor/owl.theme.default.min.css">

    <link rel="stylesheet" href="assets/css/vendor/animate.css">

    <link rel="stylesheet" href="assets/css/vendor/jquery-ui.min.css">

    <link rel="stylesheet" href="assets/css/vendor/chart.css">

    <link rel="stylesheet" href="assets/css/vendor/lightbox.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/responsive.css">

    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="cs-loader">
        <div class="cs-loader-inner">
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
        </div>
    </div>


    <div class="main-container">

        <header class="header fixed-top">
            <nav style="background-color: white" class="navbar  navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="..//assets/img/main-logo.png" alt=""></a>
                    <p style="margin-left: -50px;" class="mb-0">MORE THAN JUST MONEY</p>

                    <button class=" navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active dropdown">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/about">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/service">Services</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/library">Library</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </header>


        <div class="slider-area">
            <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                data-alias="refinace-slideshow-1" data-source="gallery"
                style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

                <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;"
                    data-version="5.4.6.4">
                    <ul>

                        <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-thumb="assets/3-100x50.jpg" data-rotate="0"
                            data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">

                            <img src="assets/img/slider/image.png" alt="" title="3" width="1920" height="1000"
                                data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                class="rev-slidebg" data-no-retina>

                            </a>

                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>

        </div>


        <!-- <div class="feature-area pad100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-12">
                        <div class="single-feature xs-mb30 text-center">
                            <div class="feature-icon">
                                <i class="flaticon-investment"></i>
                            </div>
                            <div class="feature-content">
                                <h3>FInancial planning</h3>
                                <p>The Importance of Having a Financial Plan. Creating a financial plan helps you see
                                </p>
                                <div class="btn-1"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-12">
                        <div class="single-feature xs-mb30 text-center">
                            <div class="feature-icon">
                                <i class="flaticon-money"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Investment planning</h3>
                                <p>The placing of funds into the proper investment vehicles based on the investor's</p>
                                <div class="btn-1"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-12">
                        <div class="single-feature xs-mb30 text-center">
                            <div class="feature-icon">
                                <i class="flaticon-charity"></i>
                            </div>
                            <div class="feature-content">
                                <h3>private Banking</h3>
                                <p>Private banking is personalized financial and banking services that are traditionally
                                    offered</p>
                                <div class="btn-1"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-12">
                        <div class="single-feature  text-center">
                            <div class="feature-icon">
                                <i class="flaticon-agreement"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Business Advisor</h3>
                                <p>An academic advisor can assist a student with course planning, registration, and
                                    academic</p>
                                <div class="btn-1"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div> -->


        <div class="beneficial-investments-area pad100 bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <div class="title-text">
                                <h2>Services</h2>
                                <p>We provide the following services</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-12">
                        <div class="inner-box xs-mb30">
                            <div class="inner-img">
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/blog/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="#">Mutual Funds</a></h3>
                                <p>We review your existing mutual fund portfolio free of cost and suggest changes /
                                    modifications based on fund performance and suitability to your objectives & needs.
                                </p>
                                <div class="btn-1"><a href="/service/mutual-fund">Know More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-12">
                        <div class="inner-box xs-mb30">
                            <div class="inner-img">
                                <a href="#">
                                    <img class="img-fluid" src="../assets/img/investment/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="#">MARS</a></h3>
                                <p>MARS (Mutual Fund Automated Rebalancing System) is an automated asset allocation and
                                    portfolio rebalancing tool. MARS offers various asset allocation portfolios.</p>
                                <div class="btn-1"><a href="/service/mars">Know More</a></div>

                            </div>
                        </div>
                    </div>


                    <div class="btn-1 mt-5 mx-auto"><a href="/service">More services..</a></div>
                </div>


            </div>

        </div>


        <div class="recent-news-area pad100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <div class="title-text">
                                <h2>Library</h2>
                                <p>Here you will learn some topics which will help you in investment journey.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="single-inner-box xs-mb30">
                            <div class="inner-img">
                                <a href="#"> <img src="../assets/img/activities/7.jpg" alt=""></a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="#">Health Insurance</a></h3>
                                <p>Health insurance is a type of insurance that covers medical expenses incurred on an
                                    illnessor injury. These medical...</p>
                                <a href="/library/health-insurance" class="rd-btn">Read More</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="single-inner-box xs-mb30">
                            <div class="inner-img">
                                <a href="#"> <img src="../assets/img/activities/4.jpg" alt=""></a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="#">What is STP</a></h3>
                                <p>Systematic Transfer Plan or STP is an investment plan that allows investors to invest
                                    a lump sum amount in a particular...</p>
                                <a href="/library/STP" class="rd-btn">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="single-inner-box">
                            <div class="inner-img">
                                <a href="#"> <img src="../assets/img/activities/6.jpg" alt=""></a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="#">What is SWP</a></h3>
                                <p>A Systematic Withdrawal Plan (SWP) is a facility offered by Mutual Fund, which allows
                                    an investor to periodically withdraw...</p>
                                <a href="/library/SWP" class="rd-btn">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="btn-1 mt-5 mx-auto"><a href="/library">Know more..</a></div>
                </div>


            </div>

        </div>


        <div class="counter-up-area bg-count pad100 parallax overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="single-counter xs-mb30">
                            <div class="count-content">
                                <span class="count">250</span>
                                <p>happy clients</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="call-to-action-area bg-color-brand">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-5 col-12 d-none d-lg-block">
                        <div class="call-img">
                            <img class="img-fluid" src="assets/img/call-top-action/girl.png" alt="">
                        </div>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-7 col-12">
                        <div class="action-content">
                            <h2 class="numb text-white">+91 8451045033</h2>
                            <h2 class="numb text-white">+91 8451077527</h2>
                            <h3 class="mb-0 mt-3">CONTACT US</h3>
                            <p class="mt-0">
                                A-803, Mahaavir Jyoti, Plot No. 248A / 249, <br> Sector 10, Kharghar, <br> Navi Mumbai – 410210.</p>



                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-text text-center">
                            <p>©2023 Plan B wealth. All Rights Reserved. Designed By</p>
                            <a style="text-decoration: underline;" href="https://androappstech.com/">Androapps tech</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>



    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>

    <script src="assets/js/vendor/jquery-migrate.js"></script>

    <script src="assets/js/vendor/popper-1.12.3.min.js"></script>

    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <script src="assets/js/vendor/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="assets/js/vendor/rev-slider/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.video.min.js"></script>


    <script src="assets/js/vendor/owl.carousel.min.js"></script>

    <script src="assets/js/vendor/isotope.pkgd.min.js"></script>

    <script src="assets/js/vendor/jquery.counterup.min.js"></script>

    <script src="assets/js/vendor/waypoints-jquery.js"></script>

    <script src="assets/js/vendor/chart.js"></script>

    <script src="assets/js/vendor/lightbox.js"></script>

    <script src="assets/js/vendor/jquery.appear.js"></script>

    <script src="assets/js/vendor/jquery-ui.min.js"></script>

    <script src="assets/js/vendor/wow.min.js"></script>

    <script src="assets/js/vendor/plugins.js"></script>

    <script src="assets/js/main.js"></script>
</body>

</html>