<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Services</title>
    <meta name="author" content="iThemesLab">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../assets/img/favicon-icon.png">
    <link rel="apple-touch-icon" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">


    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/vendor/rev-slider/settings.css">
    <link rel="stylesheet" href="assets/css/vendor/rev-slider/navigation.css">

    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">

    <link rel="stylesheet" href="assets/css/vendor/flaticon.css">

    <link rel="stylesheet" href="assets/css/vendor/owl.carousel.min.css">

    <link rel="stylesheet" href="assets/css/vendor/owl.theme.default.min.css">

    <link rel="stylesheet" href="assets/css/vendor/animate.css">

    <link rel="stylesheet" href="assets/css/vendor/jquery-ui.min.css">

    <link rel="stylesheet" href="assets/css/vendor/chart.css">

    <link rel="stylesheet" href="assets/css/vendor/lightbox.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/responsive.css">

    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="cs-loader">
        <div class="cs-loader-inner">
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
            <label> ●</label>
        </div>
    </div>

    <div class="main-container">

        <header class="header fixed-top">
            <nav style="background-color: white;" class="navbar  navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="..//assets/img/main-logo.png" alt=""></a>
                    <button class=" navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/about">About Us</a>
                            </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link" href="/service">Services</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/library">Library</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </header>


        <div class="about-us-area pad-head bg-services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about-content">
                            <div class="section-title text-center">
                                <h2>Services</h2>
                            </div>
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li>|</li>
                                <li>Services</li>
                            </ol>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="beneficial-investments-area pad100 bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <div class="title-text">
                                <h2>Services</h2>
                                <p>We provide the following services</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-12">
                        <div class="inner-box xs-mb30">
                            <div class="inner-img">
                                <a href="/service/mutual-fund">
                                    <img class="img-fluid" src="assets/img/blog/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="/service/mutual-fund">Mutual Funds</a></h3>
                                <p>We review your existing mutual fund portfolio free of cost and suggest changes /
                                    modifications based on fund performance and suitability to your objectives & needs.
                                </p>
                                <div class="btn-1"><a href="/service/mutual-fund">Know More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-12">
                        <div class="inner-box xs-mb30">
                            <div class="inner-img">
                                <a href="/service/mars">
                                    <img class="img-fluid" src="../assets/img/investment/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="/service/mars">MARS</a></h3>
                                <p>MARS (Mutual Fund Automated Rebalancing System) is an automated asset allocation and
                                    portfolio rebalancing tool. MARS offers various asset allocation portfolios.</p>
                                <div class="btn-1"><a href="/service/mars">Know More</a></div>

                            </div>
                        </div>
                    </div>


                </div>



                <div class="row mt-5">

                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-12">
                        <div class="inner-box">
                            <div class="inner-img">
                                <a href="/service/nj-portfolio-management">
                                    <img class="img-fluid" src="../assets/img/investment/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="/service/nj-portfolio-management">NJ Portfolio Management Services</a></h3>
                                <p>At, NJ Asset Management Private Limited (NJAS), we seek to bridge this gap by
                                    offering customised Portfolio Management Services (PMS) to clients.</p>
                                <div class="btn-1"><a href="/service/nj-portfolio-management">Know More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-12">
                        <div class="inner-box xs-mb30">
                            <div class="inner-img">
                                <a href="/service/loan-against-securities">
                                    <img class="img-fluid" src="../assets/img/investment/1.png" alt="">
                                </a>
                            </div>
                            <div class="inner-content">
                                <h3><a href="/service/loan-against-securities">Loan against Securities</a></h3>
                                <p>With Loan Against Securities (LAS) from NJ Capital you can unlock the potential of
                                    your investments without liquidating them and having to book profits or losses in
                                    an..
                                </p>
                                <div class="btn-1"><a href="/service/loan-against-securities">Know More</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-text text-center">
                            <p>©2023 Plan B wealth. All Rights Reserved. Designed By</p>
                            <a style="text-decoration: underline;" href="https://androappstech.com/">Androapps tech</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>



    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>

    <script src="assets/js/vendor/jquery-migrate.js"></script>

    <script src="assets/js/vendor/popper-1.12.3.min.js"></script>

    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <script src="assets/js/vendor/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="assets/js/vendor/rev-slider/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/js/vendor/rev-slider/extensions/revolution.extension.video.min.js"></script>


    <script src="assets/js/vendor/owl.carousel.min.js"></script>

    <script src="assets/js/vendor/isotope.pkgd.min.js"></script>

    <script src="assets/js/vendor/jquery.counterup.min.js"></script>

    <script src="assets/js/vendor/waypoints-jquery.js"></script>

    <script src="assets/js/vendor/chart.js"></script>

    <script src="assets/js/vendor/lightbox.js"></script>

    <script src="assets/js/vendor/jquery.appear.js"></script>

    <script src="assets/js/vendor/jquery-ui.min.js"></script>

    <script src="assets/js/vendor/wow.min.js"></script>

    <script src="assets/js/vendor/plugins.js"></script>

    <script src="assets/js/main.js"></script>
</body>

</html>