<%- include('../components/navbara.ejs') -%>
<style>

    @media screen and (min-width: 480px) {
      #tech {
        margin-top:-30px;
      }
    }
    @media screen and (max-width: 800px) {
      #tech {
        margin-top:10px;
      }
    }
    </style>
        <div class="make-investment-area pad100 rs-pd-tp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <div class="title-text">
                                <h4>MARS - For dynamic asset allocation / fixed asset allocation in mutual funds.</h4>
                                <P>MARS (Mutual Fund Automated Rebalancing System) is an automated asset allocation and
                                    portfolio rebalancing tool. MARS offers various asset allocation portfolios.</P>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-8 col-12">
                        <div class="bg-box-img rs-ds-b">
                            <div class="bg-content-box" style="background-color: #00dbfb00 !important">
                                <h3 style="opacity: 0;">What is Mutual fund?</h3>
                                <p style="opacity: 0;">Mutual funds can be a good opportunity for small or individual
                                    investors to benefit
                                    from
                                    a professionally managed investment portfolio.

                                    They usually invest in a large number of securities, and their performance is
                                    tracked as
                                    the change in the market cap of the fund, which itself is determined by the
                                    performance
                                    of the underlying investments.

                                    Mutual funds charge a sales commission, known as load, as well as management fees
                                    related to the fund’s administration. While all funds charge management or
                                    administration fees, there are funds in the market that are no-load, meaning they do
                                    not
                                    charge a sales commission. The returns of a mutual fund are based on the performance
                                    of
                                    its constituents.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-4 col-12">
                        <div style="margin-top: 0 !important;" class="future-content">
                            <div class="before-icons float-left">
                                <i class="fa fa fa"></i>
                            </div>
                            <div class="media-future mb-0">

                                <p><span class="font-weight-bold">Dynamic Asset Allocation</span><br >
                                  <div id="tech">  <br>
                                    Aggressive – Equity & Debt – 0% to 100%
                                    <p >
                                    Moderate – Equity 60% & Debt 40%
                                    <br />
                                    Conservative – Equity 30% & 70% Debt</p>
                                </div> 

                            </div>
                            <div class="before-icons float-left">
                                <i class="fa fa fa"></i>
                            </div>
                            <div class="media-future mb-0">

                                <p>
                                    <span class="font-weight-bold">Fixed Asset Allocation</span><br >
                                    <div id="tech">
                                    <br>
                                    Equity 100%
                                    <br>
                                    Equity 90% ~ Debt 10%
                                    <br>
                                    Equity 80% ~ Debt 20%
                                    <br>
                                    Equity 70% ~ Debt 30%
                                    <br>
                                    Equity 60% ~ Debt 40%
                                    <br>
                                    Equity 50% ~ Debt 50%
                                    <br>
                                    Equity 40% ~ Debt 60%
                                    <br>
                                    Equity 30% ~ Debt 70%
                                    <br>
                                    Equity 20% ~ Debt 80%
                                    <br>
                                    Equity 10% ~ Debt 90%
                                </div>
                                </p>

                            </div>
                            <div class="before-icons float-left">
                                <i class="fa fa fa"></i>
                            </div>
                            <div class="media-future mb-0">

                                <p><span class="font-weight-bold">SIP portfolio</span>
                                    <br ><div id="tech">
                                    <br>
                                    Aggressive
                                    <br>
                                    Diversified</div>
                                </p>
                            </div>
                            <div class="before-icons float-left">
                                <i class="fa fa fa"></i>
                            </div>
                            <div class="media-future mb-0">
                                <p><span class="font-weight-bold">Balanced Portfolio</span>
                                </p>
                            </div>
                            <div class="before-icons float-left">
                                <i class="fa fa fa"></i>
                            </div>
                            <div class="media-future mb-0">
                                <p><span class="font-weight-bold">ELSS Portfolio</span>

                                </p>
                            </div>

                            <div class="before-icons float-left">
                                <i class="fa fa fa"></i>
                            </div>
                            <div class="media-future mb-0">
                                <p><span class="font-weight-bold">SWP Portfolion</span>

                                </p>
                            </div>

                        </div>
                    </div>



                </div>


                
            </div>

        </div>
        <%- include('../components/footer.ejs') -%>