<%- include('../components/navbara.ejs') -%>
<style>

@media screen and (min-width: 480px) {
  #tech {
    margin-top:-35px;
  }
}
@media screen and (max-width: 800px) {
  #tech {
    margin-top:10px;
  }
}
</style>
    <div class="rs-pd-tp make-investment-area pad100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <div class="title-text">
                            <h2>MUTUAL FUND</h2>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-8 col-12">
                    <div class="bg-box-img">
                        <div class="bg-content-box">
                            <h3>What is Mutual fund?</h3>
                            <p>Mutual funds can be a good opportunity for small or individual investors to benefit from
                                a professionally managed investment portfolio.

                                They usually invest in a large number of securities, and their performance is tracked as
                                the change in the market cap of the fund, which itself is determined by the performance
                                of the underlying investments.

                                Mutual funds charge a sales commission, known as load, as well as management fees
                                related to the fund’s administration. While all funds charge management or
                                administration fees, there are funds in the market that are no-load, meaning they do not
                                charge a sales commission. The returns of a mutual fund are based on the performance of
                                its constituents.</p>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-4 col-12">
                    <div style="margin-top: 0 !important;" class="future-content">
                        <div class="before-icons float-left">
                            <i class="fa fa fa"></i>
                        </div>
                        <div class="media-future">

                            <p>A. Free review of existing mutual fund portfolio.<br /><br /><div id="tech">
                                We review your existing mutual fund portfolio free of cost and suggest changes /
                                modifications based on fund performance and suitability to your objectives & needs.</div>
                            </p>

                        </div>
                        <div class="before-icons float-left">
                            <i class="fa fa fa"></i>
                        </div>
                        <div class="media-future">

                            <p>B. Selection of funds in line with financial goals.<br /><br /><div id="tech">
                                We ensure that we select funds in line with your financial objectives & goals. The
                                funds are reviewed periodically and corrective action, if necessary, is taken with
                                your consent.</div>
                            </p>

                        </div>
                        <div class="before-icons float-left">
                            <i class="fa fa fa"></i>
                        </div>
                        <div class="media-future">

                            <p>C. Systematic Investment Plan (SIP)<br /><br /><div id="tech">
                                SIP helps in creating long term wealth and is an ideal for those with regular
                                monthly income.
                                <br>
                                <span style="font-weight: bold;">Benefits of SIPs:</span>
                                <br>
                                1. Lighter on the wallet
                                <br>
                                2. Makes market timing irrelevant
                                <br>
                                3. Enables rupee cost averaging
                                <br>
                                4. Benefits from power of compounding
                                <br>
                                5. Helps in goal planning</div>
                            </p>

                        </div>
                        <div class="before-icons float-left">
                            <i class="fa fa fa"></i>
                        </div>
                        <div class="media-future">

                            <p>D. Systematic Withdrawal Plan (SWP)<br /><br /><div id="tech">
                                SWP is ideal for those looking for regular monthly income, like Retirees.</div>
                            </p>

                        </div>
                        <div class="before-icons float-left">
                            <i class="fa fa fa"></i>
                        </div>
                        <div class="media-future mb-0">
                            <p>E. Systematic Transfer Plan (STP)<br /><br /><div id="tech">
                                STP enables movement from one fund category to another without redemption. For example,
                                money can be moved at regular intervals from a debt fund to one or more equity funds.</div>

                            </p>
                        </div>

                        <div class="before-icons float-left">
                            <i class="fa fa fa"></i>
                        </div>
                        <div class="media-future mb-0">
                            <p>F. Lumpsum investments - Equity funds / Hybrid funds / Debt funds<br /><br /><div id="tech">

                                We help you select appropriate equity / hybrid / debt funds for your lumpsum investment
                                keeping in mind the investment duration, your age profile & your risk-taking ability.</div>

                            </p>
                        </div>

                        <div class="before-icons float-left">
                            <i class="fa fa fa"></i>
                        </div>
                        <div class="media-future mb-0">
                            <p>G. Tax saving plans<br /><br /><div id="tech">

                                ELSS or Equity Linked Savings Schemes are tax saving mutual funds, in which majority of
                                the funds are invested in equity schemes. Under section 80C, one can avail tax benefit
                                up to Rs.46,800 by investing up to Rs.1.5 lakhs per year in ELSS schemes. It has the
                                lowest lock in period (3 Years) and the returns are higher than other tax-saving schemes
                                so it is ideal to anyone who wishes to reduce income tax by investing in 80C tax-saving
                                schemes and at the same time, to reap benefits in long term.</div>

                            </p>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>
    <%- include('../components/footer.ejs') -%>