<%- include('../components/navbar.ejs') -%>

    <div class="experience-area pad100 xs-pt-0 rs-pd-tp">
        <div class="container">

            <div class="section-title text-center">
                <div class="title-text">
                    <h2>What is SIP?</h2>
                </div>
                <p class="mb-5">A Systematic Investment Plan or SIP is an investment vehicle through which investors can
                    invest
                    specific amounts of money in mutual funds. This is done periodically such as monthly, quarterly or
                    annually.
                    By planting small seeds of investment month after month, the investor can hope to gain the fruits of
                    investment returns over a period of time. Investing through SIP is a disciplined approach that helps
                    investors to achieve your financial goals.
                </p>
            </div>

            <div class="row">

                <div class="mx-auto col-xl-10 col-lg-10 col-md-12 col-sm-10 col-12">
                    <div id="accordion" role="tablist">
                        <h3>Why to invest SIP?</h3>
                        <p>There are many benefits of SIP. This mode of investment in mutual fund entails</p>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5>
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">Ease of investment</a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    You can easily set up a SIP, offline or online, and start investing in your chosen
                                    fund. Most mutual funds allow SIP with as little as ₹500 per month. Upon receiving
                                    the instruction, the said amount is deducted from your bank account and invested in
                                    the fund on the given date.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">Brings discipline into
                                        investments</a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    This is one of the major advantages of SIP. It brings discipline into your
                                    investments. SIPs are a kind of forced savings. On a pre-defined date, a certain
                                    amount is deducted and invested on your behalf. Over a period this inculcates
                                    discipline, crucial for long-term wealth creation.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">Spreads out risk</a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Mutual fund investments are subject to market risks. However, SIPs spread this risk
                                    over a period, thus bringing down the overall risk of investment. Also, SIPs help
                                    you remain invested across market cycles, thus averaging out the cost of buying.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="heading4">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                                        aria-controls="collapse4">Gives the flexibility to top-up</a>
                                </h5>
                            </div>
                            <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4"
                                data-parent="#accordion">
                                <div class="card-body">

                                    This is one of the multiple benefits of SIP. With a rise in income, you can top-up
                                    your SIP amount. A SIP top-up can make a significant difference to the end corpus.
                                    Also, most fund houses offer the facility to pause your SIPs for a brief period in
                                    case you face shortage of funds.

                                </div>
                            </div>
                        </div>


                        <h3>How to invest SIP?</h3>
                        <p>Now that you know why SIPs, let’s see how you can invest through SIPs. To do so, you need to:
                        </p>

                        <div class="card">
                            <div class="card-header" role="tab" id="heading5">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="false"
                                        aria-controls="collapse5">Set investment goals</a>
                                </h5>
                            </div>
                            <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Note that every mutual fund serves a specific goal. Hence, you need to figure out
                                    the objective you want to achieve by investing in mutual funds through SIPs.
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" role="tab" id="heading6">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse6" aria-expanded="false"
                                        aria-controls="collapse6"> Pick the mutual fund that serves the goal
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Once you have set your investment goal, choose the mutual fund that can help you
                                    achieve it. It’s advisable to opt for a fund with sound fundamentals.

                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" role="tab" id="heading7">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse7" aria-expanded="false"
                                        aria-controls="collapse7">Get KYC done and start your SIP</a>
                                </h5>
                            </div>
                            <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7"
                                data-parent="#accordion">
                                <div class="card-body">
                                    If you are investing in mutual funds for the first time, you need to be
                                    KYC-compliant, mandatory under the Prevention of Money Laundering Act. You can get
                                    the KYC done, either offline or online. For offline process, download the KYC form
                                    available on website of mutual fund houses, registrar and transfer agents (RTAs), or
                                    the Association of Mutual Funds in India (AMFI).
                                    <br>
                                    <br>
                                    Fill and submit it to the fund’s house office or RTA office. You can do KYC online
                                    through your Aadhaar number. The facility for the same is provided on the portal of
                                    fund houses and RTAs.

                                </div>
                            </div>
                        </div>

                        <!-- <div class="card">
                            <div class="card-header" role="tab" id="heading8">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse8" aria-expanded="false"
                                        aria-controls="collapse8">How much money do you need to invest?</a>
                                </h5>
                            </div>
                            <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8"
                                data-parent="#accordion">
                                <div class="card-body">
                                    There is a major misconception among investors that a lot of money is required to
                                    start investing in mutual funds. As a result, many investors wait until they have
                                    higher pay checks before they start investing.
                                    <br><br>
                                    This is a very wrong approach.
                                    <br><br>
                                    It is possible to start investing in mutual funds through SIPs with a very little
                                    amount. A lot of funds allow investors to put in a minimum of Rs 500 each month.
                                    This is a great way for investors to begin their investment journey.
                                    <br><br>
                                    And as the investor’s income levels start to rise, she can increase her contribution
                                    towards the SIP every year.

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="heading9">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse9" aria-expanded="false"
                                        aria-controls="collapse9">What is a financial plan
                                        for a business?</a>
                                </h5>
                            </div>
                            <div id="collapse9" class="collapse" role="tabpanel" aria-labelledby="heading9"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="heading10">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false"
                                        aria-controls="collapse10">What is a financial plan
                                        for a business?</a>
                                </h5>
                            </div>
                            <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="heading11">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse11" aria-expanded="false"
                                        aria-controls="collapse11">What is a financial plan
                                        for a business?</a>
                                </h5>
                            </div>
                            <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="heading12">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false"
                                        aria-controls="collapse12">What is a financial plan
                                        for a business?</a>
                                </h5>
                            </div>
                            <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="heading13">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse13" aria-expanded="false"
                                        aria-controls="collapse13">What is a financial plan
                                        for a business?</a>
                                </h5>
                            </div>
                            <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="heading14">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse14" aria-expanded="false"
                                        aria-controls="collapse14">What is a financial plan
                                        for a business?</a>
                                </h5>
                            </div>
                            <div id="collapse14" class="collapse" role="tabpanel" aria-labelledby="heading14"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div> -->

                        <h4>Benefits of investing through SIPs</h4>
                        <p>There are multiple benefits of investing in mutual funds through SIPs.
                        </p>

                        <h4>The power of compounding</h4>
                        <p>
                            When you invest in an SIP, you earn regular returns. If these returns are reinvested in the
                            fund, the returns start earning returns. This is known as compounding.

                            In other words, the money you earn in turn starts earning money for you. This can help you
                            achieve much higher returns over a period of time.
                        </p>

                        <h4>Rupee cost averaging</h4>
                        <p>

                            Rupee Cost Averaging is another major advantage of investing in SIPs. As an investor, it can
                            be tough to time the market; especially when the market is volatile. By investing through
                            SIP, you don’t need to worry about timing the market.
                            <br><br>
                            Rupee cost averaging decreases your overall cost per share of an investment. This means you
                            can avail more units of an investment when the price is low and higher returns when the
                            price of the fund rises.

                        </p>

                        <h4>Convenience</h4>
                        <p>SIP is a very convenient mode of investing. Most investors don’t have the time for extensive
                            research and analysis to pick up the best stocks in the market.
                            Once a fund is picked, the investor can simply give a standing instruction to the bank and
                            the specific amount is debited each and every month for investment in the SIP.
                            In other words, it is a hassle free option that helps investors to finance their dreams in a
                            simple and convenient way.
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <%- include('../components/footer.ejs') -%>