<%- include('../components/navbar.ejs') -%>

    <div class="experience-area pad100 xs-pt-0 rs-pd-tp">
        <div class="container">

            <div class="section-title text-center">
                <div class="title-text">
                    <h2>What is STP?(Systematic Transfer Plan)</h2>
                </div>
                <p class="mb-5">Systematic Transfer Plan or STP is an investment plan that allows investors to invest a
                    lump sum amount in a particular mutual fund and regularly transfer a specific amount into another
                    fund.
                    For instance, the investor can choose to transfer a pre-defined amount from a debt fund to an equity
                    fund (or vice versa) on a regular basis.
                    For this to happen, the units from one fund are sold and the money is used to purchase units in the
                    equity fund.

                </p>
            </div>

            <div class="row">

                <div class="mx-auto col-xl-10 col-lg-10 col-md-12 col-sm-10 col-12">
                    <div id="accordion" role="tablist">

                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5>
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">How does it
                                        work?</a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Let’s take an example to understand how STPs actually work in the market. Gaurav is
                                    a mutual fund investor. He has currently invested Rs 2 lakh in a debt fund. He has
                                    his eye on a particular equity fund. However, due to the volatility in the market,
                                    he is afraid that the value of the equity fund may decrease after he invests in it.
                                    But if the equity fund’s value starts to rise, he could lose out on a potentially
                                    good investment.
                                    <br><br>
                                    Instead, by investing through an STP, he can gradually transfer a specific amount
                                    (Rs 8,000 in this example) from his debt fund to equity fund over the span of a few
                                    months (or years).
                                    <br><br>
                                    This gradual transfer of money can minimise his risk in the equity market while
                                    helping him earn quality returns at the same time.

                                </div>
                            </div>
                        </div>


                        <h4>Advantage of investing through STP</h4>
                        <br>
                        <p><span class="font-weight-bold">Safety</span>
                            <br>
                            By investing only a portion of your funds at a time in equity, you can shield your
                            investments from market swings. This way, the entire fund won’t be exposed to the volatility
                            in the market.
                        </p>

                        <p>
                        <p><span class="font-weight-bold">High returns</span>
                            <br>
                            The main purpose of investing in equity is to earn higher returns. The equity portion of the
                            fund can help investors earn higher returns over the long-term. At the same time, you can
                            earn consistent returns from debt or liquid fund.
                        </p>

                        <p>
                            <span class="font-weight-bold">Portfolio rebalance</span>
                            <br>
                            Systematic Transfer Plans (STPs) help investors to rebalance their portfolios by
                            transferring the investments from one fund to another. For instance, if the investor feels
                            that the portfolio is heavily into equities, he can start an STP to switch funds back into
                            debt (and vice versa).

                        </p>

                        <h4>Conclusion</h4>
                        <p>STP is a very useful strategy to mitigate risks in the market. But it is necessary to
                            remember that it doesn’t eliminate the possibility of losses in the market. At the same
                            time, the minimisation of risk exposure means that the investor could lose out on potential
                            returns when the market performs exceedingly well. However, this strategy can be used to cap
                            losses and increase portfolio returns in the long-term.

                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <%- include('../components/footer.ejs') -%>