<%- include('../components/navbar.ejs') -%>

    <div class="experience-area pad100 xs-pt-0 rs-pd-tp">
        <div class="container">

            <div class="section-title text-center">
                <div class="title-text">
                    <h2>What is SWP?(Systematic Withdrawal Plan)</h2>
                </div>
                <p class="mb-5">A Systematic Withdrawal Plan (SWP) is a facility offered by Mutual Fund, which allows an
                    investor to periodically withdraw fixed money as per requirement instead of withdrawing it in one
                    go. Withdrawals through SWP are subject to exit load and tax implications.

                </p>
            </div>

            <div class="row">

                <div class="mx-auto col-xl-10 col-lg-10 col-md-12 col-sm-10 col-12">
                    <div id="accordion" role="tablist">

                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5>
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">HOW DOES THE SWP IN MUTUAL FUNDS WORK?</a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Step 1 - Your mutual fund investments have accumulated to a sizeable sum over
                                    long-term.
                                    <br>
                                    Step 2 - You need monthly/ quarterly cash flows for specific needs.
                                    <br>
                                    Step 3 - You register a SWP to withdraw a fixed amount/ number of units per month or
                                    quarter.
                                    <br>
                                    Step 4 - Mutual fund redeems the desired amount into your bank account periodically.


                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="heading2">
                                <h5>
                                    <a data-toggle="collapse" href="#collapse2" aria-expanded="true"
                                        aria-controls="collapse2">WHAT KIND OF AN INVESTOR SHOULD INVEST IN THE SWP?</a>
                                </h5>
                            </div>
                            <div id="collapse2" class="collapse show" role="tabpanel" aria-labelledby="heading2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Investor looking to fulfil monthly / quarterly cash flow requirements. This
                                    generally happens during the retirement phase or in case of liquidity crunch,
                                    wherein you intend to live off the accumulated corpus.
                                    Business persons / Self-employed professionals having irregular income flow can also
                                    use SWP for managing their monthly fixed expenses.

                                </div>
                            </div>
                        </div>

                        <h5>Benefits of SWP</h5>
                        <br>
                        <p>
                            SWP helps you with systematic redemption of your invested money based on your liquidity
                            need.
                            It allows you to have fixed income every month in your bank account.
                            It allows you to plan your goals through systematic withdrawals on periodic basis.
                            Systematic withdrawal plan is best suited for retired people which allows them to withdraw /
                            or have fixed amount every month from their invested amount without withdrawing the entire
                            investment amount.

                        </p>


                    </div>

                </div>

            </div>

        </div>
    </div>
    <%- include('../components/footer.ejs') -%>