<%- include('../components/navbar.ejs') -%>

    <div class="experience-area pad100 xs-pt-0 rs-pd-tp">
        <div class="container">

            <div class="section-title text-center">
                <div class="title-text">
                    <h2>What is a term insurance</h2>
                </div>
                <p class="mb-5">Term life insurance is a kind of life insurance plan that provides death coverage to
                    policyholders for a specific time limit. That is, if the policyholder dies during the policy tenure,
                    then the insurance amount is given as a lump sum to the nominee.
                    A term insurance plan does not provide maturity benefits like traditional, money back or
                    market-linked life insurance policies, but provide much higher coverage for a lesser amount.


                </p>
            </div>

            <div class="row">

                <div class="mx-auto col-xl-10 col-lg-10 col-md-12 col-sm-10 col-12">
                    <div id="accordion" role="tablist">

                        <h4>Term insurance benefits</h4>
                        <br>
                        <p>1. Term Insurance Plans are very simple to understand:
                            <br><br>
                            Simplicity is one of the reasons for the growing popularity of term insurance. Term life
                            insurance is a pure life cover that focuses on offering your dependents the sum assured in
                            case you were to die. All you need to ensure that the premium is paid on time.
                        </p>


                        <p>
                            2. Term insurance plans are supremely affordable:
                            <br><br>
                            The premium for a term life insurance plan is as low as 0.1 percent of the total sum
                            insured. Now consider this, we pay about 2 percent of the car’s present value as its
                            premium.
                        </p>

                        <p>
                            3. Term Plans offer much higher coverage compared to traditional plans:
                            <br><br>
                            The total sum insured for traditional, ULIP or endowment policies is about 7 to 10 percent
                            of the yearly premium. So for example, if you buy one of the plans mentioned above for a
                            yearly premium of Rs 20,000, you get a coverage of Rs 2 lakh which will barely cover your
                            family’s expenses for a few months.
                            Meanwhile, a term plan offers a much higher sum assured so that you can leave your family
                            and dependents enough money that they don’t go through financial hardship in your absence.
                            An average sum assured for a term life insurance policy is little over Rs 1 crore which will
                            cost you somewhere in the Rs 10,000 to Rs 20,000/- range (subject to Insurer’s age). That
                            is, the coverage provided by term insurance is about 60 times higher as compared to
                            traditional, ULIP, or endowment
                        </p>

                        <p>
                            4. Term plans come with a host of tax benefits:
                            <br><br>
                            While the primary reason for buying term insurance is securing your family’s future, you
                            also get to save tax with them. Let’s look at its 3 term life insurance tax benefits.
                            <br>
                            Section 80C: Under this section, you can claim a deduction up to Rs 1.5 for certain
                            investments and purchases, that includes the premium amount you pay towards the term life
                            insurance plan.
                            <br>
                            Section 80D: This exemption is allowed on the premium paid towards health-related
                            coverage like critical illness riders. You can claim deductions up to Rs 25,000 for the
                            premium paid towards it.
                            <br>
                            Section 10 (10D): In case of term life insurance, this benefit can be claimed while
                            claiming the pay out. The entire amount is completely exempt from taxes.
                        </p>

                        <p>
                            5. Premiums are locked for the duration of the plan:
                            <br><br>
                            When you purchase a term insurance plan, you are effectively locking the premium you will be
                            paying this year, next year, and every other year till the end of the plan. And this is
                            where it becomes highly beneficial for you if you start your term plan as early as possible
                            when premiums are lower at the younger ages.Let’s illustrate this with an example.So if you
                            are buying a term plan (let’s consider that the coverage is Rs 1 crore till the age of 75)
                            at the age of 30, you would pay a premium of about Rs 10,000 every year . That is, you would
                            pay Rs 4.5 lakh in total. But, if you buy the same plan at 45, you would be paying a yearly
                            premium of around Rs 30,000 The amount you pay toward the term plan in the next 30 years
                            would be Rs 9 lakh.
                        </p>

                        <h4>Bottomline</h4>
                        <p>Term life insurance has several benefits. It provides higher coverage for a lower premium,
                            it’s simple to understand and comes with immense tax benefits. But before factoring in all
                            the benefits, you should remember the core objective of insurance is protection and not
                            savings. Unlike most life insurance products, term insurance remains true to this objective.
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <%- include('../components/footer.ejs') -%>