<div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <div class="copy-text text-center">
                    <p>©2023 Plan B wealth. All Rights Reserved. Designed By</p>
                    <a style="text-decoration: underline;" href="https://androappstech.com/">Androappstech</a>
                </div>
            </div>

        </div>

    </div>

</div>